<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>TODOアプリ</h1>
    <label for="task-name"> タスク名:</label>
    <input type="text" v-model="myName" id="task-name">
    <label for="task-time">推定時間(分):</label>
    <input type="text" v-model="myTime" id="task-time">
    <br>
    <button @click="pushTodo">追加</button>
    <sample-component :todo-list='taskList'></sample-component>
  </div>
  <script>
    Vue.component('sample-component', {
      props: {
        todoList: {
          type: Array,
          required: true
        },
      },
      template: `
          <table>
            <tr>
              <th>タスク</th>
              <th>推定時間(分)</th>
            </tr>
            <tr v-for="(todo,index) in todoList" :key="index">
              <td>{{todo.name}}</td>
              <td>{{todo.time}}</td>
            </tr>
          </table>
        `
    })
    new Vue({
      el: '#app',
      data: {
        taskList: [
          {
            name:"予習",
            time:"30分"
          },
          {
            name: "学習",
            time: "40分"
          },
          {
            name: "復習",
            time: "50分"
          }
        ],
        myName: '',
        myTime: ''
      },
      methods:{
        pushTodo:function(){
          if(this.myName==='' || this.myTime==='') return;
          this.taskList.push({name: this.myName, time: this.myTime})
          this.myName=''
          this.myTime=''
        }
      }
    })
  </script>
</body>

</html>